/* Spinner.css */
.spinner {
    border: 8px solid rgba(12, 30, 228, 0.1);
    border-left-color: #09f;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 0 auto; /* Centering the spinner */
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  